    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #f3f5f7;
    }
    
    .w {
        width: 1200px;
        margin: auto;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    .header {
        height: 42px;
        margin: 30px auto;
    }
    
    .logo {
        float: left;
        width: 198px;
        height: 42px;
    }
    
    .nav {
        float: left;
        margin-left: 60px;
    }
    
    .nav ul li {
        float: left;
        height: 42px;
        margin: 0 15px;
    }
    
    .nav ul li a {
        display: block;
        padding: 0 10px;
        height: 42px;
        line-height: 42px;
        font-size: 18px;
        color: #050505;
    }
    
    .nav ul li a:hover {
        border-bottom: 2px solid #00a4ff;
    }
    
    .search {
        float: left;
        width: 412px;
        height: 42px;
        margin-left: 70px;
    }
    
    .search input {
        float: left;
        width: 345px;
        font-size: 14px;
        line-height: 40px;
        color: #cbcbcc;
        border: 1px solid #00a4ff;
        border-right: 0;
        padding-left: 14px;
    }
    
    .search button {
        float: left;
        width: 52px;
        height: 42px;
        background-image: url("images/search_button.png");
        border: none;
    }
    
    .user {
        float: right;
    }
    
    .banner {
        height: 421px;
        background-color: #1c036c;
    }
    
    .banner .w {
        height: 421px;
        background-image: url(images/banner.png);
        background-repeat: no-repeat;
        background-position: top center;
    }
    
    .subnav {
        float: left;
        width: 190px;
        height: 421px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .subnav ul li {
        height: 45px;
        line-height: 45px;
        padding: 0 20px;
    }
    
    .subnav ul li a {
        color: #fff;
        font-size: 14px;
    }
    
    .subnav ul li a span {
        float: right;
    }
    
    .banner .subnav ul li a:hover {
        color: #00a4ff;
    }
    
    .course {
        float: right;
        width: 230px;
        height: 330px;
        margin-top: 50px;
        background: #fff;
    }
    
    .course h1 {
        height: 48px;
        font-size: 18px;
        color: #fff;
        text-align: center;
        line-height: 48px;
        background-color: #9bceea;
    }
    
    .course_body ul li {
        display: block;
        padding: 18px;
        border-bottom: 1px solid #eaeaea;
    }
    
    .course_body ul li h2 {
        font-size: 16px;
        color: #4e4e4e;
    }
    
    .course_body ul li p {
        font-size: 12px;
        color: #a5a5a5;
    }
    
    .course_body .more {
        display: block;
        width: 198px;
        height: 38px;
        line-height: 38px;
        font-size: 16px;
        color: #00a4ff;
        text-align: center;
        border: 1px solid #00a4ff;
        margin: 5px auto;
    }
    
    .goods {
        background-color: #fff;
        height: 60px;
        margin-top: 8px;
        box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.1);
        line-height: 60px;
    }
    
    .goods ul {
        float: left;
        margin-left: 30px;
    }
    
    .goods ul li {
        float: left;
    }
    
    .goods ul li a {
        color: #050505;
        font-size: 16px;
        padding: 0 30px;
        border-right: 1px solid #bfbfbf;
    }
    
    .goods ul li a:hover {
        color: #00a4ff;
    }
    
    .goods .modify {
        float: right;
        font-size: 14px;
        color: #00a4ff;
        margin-right: 35px;
    }
    
    .boxes1 {
        margin-top: 37px;
    }
    
    .boxes_head {
        height: 56px;
    }
    
    .boxes_head h3 {
        float: left;
        font-size: 20px;
        color: #494949;
    }
    
    .boxes_head a {
        float: right;
        font-size: 12px;
        color: #a5a5a5;
        margin-top: 10px;
    }
    
    .boxes_head ul {
        margin-top: 10px;
        margin-left: 350px;
        float: left;
    }
    
    .boxes_head ul li {
        float: left;
    }
    
    .boxes_head ul li a {
        font-size: 16px;
        font-weight: 700;
        color: #868686;
        margin: 0 25px;
    }
    
    .boxes_head ul li a:hover {
        color: #00a4ff;
    }
    
    .boxes1_body ul {
        width: 1225px;
    }
    
    .boxes1_body ul li {
        float: left;
        width: 228px;
        height: 270px;
        background-color: #fff;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    
    .boxes1_body ul li img {
        width: 100%;
    }
    
    .boxes1_body ul li h3 {
        margin: 20px 20px 16px 24px;
        font-size: 14px;
        color: #050505;
    }
    
    .boxes1_body ul li div {
        font-size: 12px;
        color: #b4b4b4;
        margin-left: 24px;
    }
    
    .boxes1_body ul li div span {
        color: #ff7c2d;
    }